h1 {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 3rem;
  text-align: center;
}

.form {
  height: 90vh;
  border: 2px solid black;
}

#guest-form {
  width: 1000px;
  margin: 0 auto;
}

#guest-input {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

#submit-btn {
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: green;
}


#guest-list li {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guest-list {
  color: aquamarine;
}

.delete-button {
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: red;
}

.toggle-rsvp {
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: green;
}